@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
}

/* Navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 5rem;
}

nav .logo {
  display: flex;
  font-size: 2rem;
  align-items: center;
}

nav .logo img {
    width: 50px;
    padding-left: 4px; 
  }
nav .bars-menu {
  display: none;
}
nav .logo h4 {
    font-family: "Tajawal", "cursive";
    font-size: 25px;
  }
  nav .logo h4 .first {
    font-family: "Tajawal", "cursive";
    color: #5317a1;
  }
  nav .logo h4 .last {
    font-family: "Tajawal", "cursive";
    color: #ef0202;
  }
  @media (max-width: 504px) {
    nav .logo h4 {
      font-size: 26px;
      font-weight: bold;
    }
  }

nav .nav-items {
  display: flex;
  list-style-type: none;
}

nav .nav-items .nav-item {
  padding: 0 1rem;
}

nav .nav-link {
  text-decoration: none;
  color: #4e547e;
  font-size: 1.4rem;
}

nav .nav-link:hover {
  color: #5317a1;
}

/* Heor styling */
.hero {
  background-color: #f8f7fc;
}

.hero-section {
  max-width: 1366px;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 5rem;
}

.hero-section .content {
  display: flex;
  flex-direction: column;
}

.hero-section .content h4 {
  color: #5317a1;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.hero-section .content h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.hero-section .content h1 .first{
  font-size: 2.6rem;
  color: #ef0202;
}
.hero-section .content h1 .last{
  font-size: 2.6rem;
  color: #5317a1;
}

.hero-section .content p {
  color: #ef0202;
  font-size: 1.4rem;
}

.hero-section .content p span.purple {
  color: #5317a1;
  font-size: 1.4rem;
}

.hero-section form {
  display: flex;
}
.btn {
  width: 10rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.75rem 1.5rem;
  background-color: #5317a1;
}

.btn:hover {
  background-color: #7d22f3;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
}

/* Features section */
section.features {
    padding: 32px 0;
    background-color: #f8f7fc;
  }
  
  section.features .features-section {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .features-section h4 {
    color: #5317a1;
    font-size: 25.6px;
    margin-bottom: 32px;
  }
  
  .features-section .qualities {
    display: flex;
    justify-content: space-between;
  }
  
  .features-section .qualities .quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 32px;
    min-width: 272px;
    border-radius: 16px;
    margin: 16px;
    opacity: 0.8;
    transition: 0.3s;
    position: relative;
  }
  
  .features-section .qualities .quality::before,
  .features-section .qualities .quality::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #5317a1;
    transition: 1s;
    height: 0;
  }
  .features-section .qualities .quality::before {
    top: 0;
    right: 0;
  }
  .features-section .qualities .quality::after {
    left: 0;
    bottom: 0;
  }
  
  .features-section .qualities .quality:hover {
    opacity: 1;
  }
  
  .features-section .qualities .quality:hover::before,
  .features-section .qualities .quality:hover::after {
    height: 100%;
  }
  .qualities .quality i {
    font-size: 32px;
    color: #5317a1;
    margin-bottom: 16px;
  }
  
  .qualities .quality h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .qualities .quality p {
    font-size: 19.2px;
    text-align: center;
    color: #4e547e;
  }
  
  .qualities .quality a {
    margin-top: 32px;
    text-decoration: none;
    background-color: #5317a1;
    color: #ffffff;
    padding: 12px 6px;
    border-radius: 10px;
    width: fit-content;
    font-size: 16px;
    
  }

.about-us {
    height: 450px;
    padding: 60px;
    display: flex;
    background-color: #ffffff;
  }
  @media (max-width: 767px) {
    .about-us {
      display: block;
      text-align: center;
    }
  }
  .about-us .info-box {
    flex: 1;
    padding: 40px;
  }
  @media (max-width: 767px) {
    .about-us .info-box {
      padding: 0;
      padding-bottom: 10px;
    }
  }
  .about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: #5317a1;
    margin: 0 0 10px;
  }
  .about-us .info-box p {
    line-height: 1.8;
    font-size: 16px;
    color: #767676;
    margin: 0;
  }
  .about-us .image-box {
    flex: 1;
    text-align: center;
  }
  .about-us .image-box img {
    width: 50%;
  }
  @media (max-width: 767px) {
    .about-us .image-box {
      width: 100%;
    }
  }


  section.contact {
    padding: 32px 0;
    background-color: #f8f7fc;
  }
  
  section.contact .contact-section {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-section h4 {
    color: #5317a1;
    font-size: 25.6px;
    margin-bottom: 32px;
  }
  
  .contact-section .qualities {
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact-section .qualities .quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 32px;
    min-width: 272px;
    border-radius: 16px;
    margin: 16px;
    opacity: 0.8;
    transition: 0.3s;
    position: relative;
  }
  
  .contact-section .qualities .quality::before,
  .contact-section .qualities .quality::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #5317a1;
    transition: 1s;
    height: 0;
  }
  .contact-section .qualities .quality::before {
    top: 0;
    right: 0;
  }
  .contact-section .qualities .quality::after {
    left: 0;
    bottom: 0;
  }
  
  .contact-section .qualities .quality:hover {
    opacity: 1;
  }
  
  .contact-section .qualities .quality:hover::before,
  .contact-section .qualities .quality:hover::after {
    height: 100%;
  }
  .qualities .quality i {
    font-size: 32px;
    color: #5317a1;
    margin-bottom: 16px;
  }
  
  .qualities .quality h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .qualities .quality p {
    font-size: 19.2px;
    text-align: center;
    color: #4e547e;
  }

  section.location {
    padding: 32px 0;
    background-color: #ffffff;
  }
  
  section.location .location-section {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .location-section h4 {
    color: #5317a1;
    font-size: 25.6px;
    margin-bottom: 30px;
  }

  footer {
    background-color: #f8f7fc;
    height: 100%;
    margin-top: 5rem;
    padding: 2rem 0;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
  }

.footer-section p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-section .socials {
  margin-bottom: 1rem;
}
.footer-section .socials i {
  color: #767676;
  padding: 0 0.5rem;
  font-size: 1.6rem;
}

.footer-section .socials i:hover {
  color: #6e0aef;
  cursor: pointer;
} 

/* Responsive Design */
@media (max-width: 1300px) {
  * {
    font-size: 85%;
  }
}

@media (max-width: 1175px) {
  * {
    font-size: 80%;
  }
}

@media (max-width: 1000px) {
  * {
    text-align: center;
  }
  .hero img {
    display: none;
  }
  .hero-section {
    align-items: center;
    padding: 2rem 0rem;
    width: 50%;
  }
  .hero .btn {
    align-self: center;
  }
  .hero .content {
    margin-top: 2rem;
  }
  .hero .content h4 {
    display: none;
  }
  .features-section .qualities {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.features .features-section {
    align-items: center;
  }
  .contact-section .qualities {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.contact .contact-section {
    align-items: center;
  }
}

@media (max-width: 504px) {
  nav {
    position: sticky;
    background-color: #ffffff;
    top: 0;
    width: 100%;
    padding: 0px 3rem;
    z-index: 1000;
  }
  nav .bars-menu {
    display: block;
    font-size: 3rem;
    padding-top: 2px;
  }
  nav .nav-items {
    position: absolute;
    left: 0;
    top: 10vh;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #5317a1;
    padding: 2rem 0;
  }
  nav .nav-items .nav-item {
    margin: 1rem 0;
  }
  nav .nav-items .nav-item a {
    color: white;
  }
  nav .nav-items.active {
    display: flex;
  }
}